:root {
    --black: #050505;
    --white: #FFFFFF;

    --buttonBG: #189E07;
    --buttonHighlight: #16BC01;
    --buttonSizeVert: 12px;
    --buttonSizeHor: 20px;

    --buttonBits: #23FF55;
    --buttonBitsBorder: #002000;
    --buttonBitsSelect: #002000;
    --buttonBitsSizeVert: 12px;
    --buttonBitsSizeHor: 24px;

    --colorBG: #303030;
    --colorAccent: #404040;
    --colorPrimary: #23FF55;

    --spacer: 20px;
    --spacerMini: 5px;
    --padSide: 25px;
    --padTB: 30px;
    --padInput: 8px;
    --marginB: 20px;
    --marginButton: 12px;
    --fontSize: 16px;
    --borderRad: 5px;
    --borderThickness: 2px;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px auto;
}

h1 {
    text-align: center;
    font-size: 35px;
    color: var(--white);
    padding: 10px;
    margin: 10px auto;
}

p {
    font-size: var(--fontSize);
    text-align: left;
    color: var(--white);
    padding-top: 0px;
    padding-bottom: 0px;
}

p2 {
    display: block;
    font-size: var(--fontSize);
    text-align: center;
    color: var(--white);
    padding-top: 0px;
    padding-bottom: 0px;
    margin: var(--spacer) auto;
}

/* Buttons */
button {
    background-color: var(--buttonBG);
    color: var(--black);
    font-size: var(--fontSize);
    cursor: pointer;
    border: none;
    border-radius: var(--borderRad);
    padding: var(--buttonSizeVert) var(--buttonSizeHor);
    margin-top: 0px;
    margin-bottom: var(--marginButton);
}
button:hover {
    background-color: var(--buttonHighlight);
}

/* Style for .button-key buttons inside the form */
.form-group .button-key {
    background-color: var(--black);
    color: var(--buttonBits);
    font-size: var(--fontSize);
    cursor: pointer;
    border: 2px solid var(--buttonBitsBorder);
    border-radius: var(--borderRad);
    padding: var(--buttonBitsSizeVert) var(--buttonBitsSizeHor);
    margin-top: 0px;
    margin-bottom: var(--marginButton);
}
/* Prevent hover effect on selected .button-key buttons */
.form-group .button-key.selected {
    background-color: var(--buttonBitsSelect);
    border: 2px solid #39FF14;
}

.buttonHeader {
    background-color: var(--black);
    color: var(--colorPrimary);
    border-radius: 0;
    font-size: 22px;
    width: 50vw;
    height: 100%; /* Fill container height */
    cursor: pointer;
    padding: 12px 0;
    margin-top: 0px;
    margin-bottom: 0;
    display: block;
}

.buttonHeader:first-child {
    border-right: var(--borderThickness) solid var(--colorBG); /* Add a border to the first button */
}

.buttonHeader:hover {
    background-color: #101010;
}


.container {
    background-color: var(--colorBG);
    font-size: 20px;
    text-align: center;
    border-radius: var(--borderRad);
    align-items: center;
    padding: var(--padTB) var(--padSide) var(--marginB) var(--padSide);
    margin: var(--spacer) auto;
    margin-bottom: var(--marginB);
    width: 90%;
}

.container-header {
    border-bottom: var(--borderThickness) solid var(--colorBG);
    width: 100%;
    height: 55px;
    display: flex; /* make horizontal buttons */
    flex-direction: row;
    margin: 0px auto;
    padding: 0px;
}

.container-text {
    background-color: var(--colorBG);
    color: var(--white);
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: 20px;
    text-align: left;
    border-radius: var(--borderRad);
    line-height: 1.4;
    margin: 0px auto;
    padding: 20px;
}

.div-header {
    color: var(--colorPrimary);
    font-size: 22px;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 5px;
}

input[type="file"] {
    background-color: var(--black);
    color: #101010;
    font-size: var(--fontSize);
    border: 2px solid var(--colorAccent);
    border-radius: var(--borderRad);
    width: 100%;
    max-width: 350px;
    padding: var(--padInput);
    margin-bottom: var(--padTB);
}

.input-form {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: var(--fontSize);
}

.form-group {
    width: 100%;
    max-width: 1000px;
    line-height: 1.5;
    margin-bottom: var(--spacer);
}

.form-group label {
    display: block;
    margin-bottom: var(--spacerMini);
    font-size: var(--fontSize);
    text-align: center;
}

.form-group input {
    width: 95%;
    font-family: sans-serif;
    font-size: 16px;
    padding: 12px;
    border-radius: var(--borderRad);
    border: 2px solid var(--colorAccent);
    resize: vertical;
    box-sizing: border-box;
}

.containerTextbox {
    width: 95%;
    height: 300px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px;
    border-radius: var(--borderRad);
    border: 2px solid var(--colorAccent);
    resize: vertical;
    box-sizing: border-box;
}
