<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.min.js"></script>
        <script src="{{ url_for('static', filename='AES.js') }}"></script>

        <title>Encryption</title>
    </head>
    <body>
        <div class="container-header">
            <button class="buttonHeader" onclick="decrypt()">Decryption</button>
            <button class="buttonHeader" onclick="encrypt()">Encryption</button>
        </div>

        <h1>AES Encryption</h1>
        <!-- Main container -->
        <div class="container">
            <form action="/run" method="POST" enctype="multipart/form-data" class="input-form">
                <div class="div-header">Key:</div>
                <div class="form-group">
                    <input type="text" id="key" name="key" required>
                </div>
                <div class="form-group">
                    <div class="div-header">Message:</div>
                    <textarea id="message" name="message" required class="containerTextbox"></textarea>
                </div>
                <button type="button" onclick="encryptMessage(event)">Encrypt</button>
            </form>
        </div>

        <!-- Results container -->
        <div id="encryptedData" class="container" style="display: none;"></div>
    </body>
</html>
