<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.min.js"></script>
        <script src="{{ url_for('static', filename='AES.js') }}"></script>
        <script src="{{ url_for('static', filename='buttonSelect.js') }}"></script>
        <script src="{{ url_for('static', filename='cipherText.js') }}"></script>

        <title>Encryption</title>
    </head>
    <body>
        <div class="container-header">
            <button class="buttonHeader" onclick="decrypt()">Decryption</button>
            <button class="buttonHeader" onclick="encrypt()">Encryption</button>
        </div>

        <h1>AES Encryption</h1>
        <!-- Main container -->
        <div class="container">
            <form action="/run" method="POST" enctype="multipart/form-data" class="input-form">
                <div class="div-header">Key:</div>
                <div class="form-group">
                    <button type="button" id="256" class="button-key" onclick="select('256')">256 bit</button>
                    <button type="button" id="192" class="button-key" onclick="select('192')">192 bit</button>
                    <button type="button" id="128" class="button-key" onclick="select('128')">128 bit</button>
                </div>
                <input type="hidden" id="keyBits" name="keyBits" value="256">
            </form>
            <form action="/run" method="POST" enctype="multipart/form-data" class="input-form">
                <div class="div-header">Message:</div>
                <div class="form-group">
                    <textarea id="message" name="message" required class="containerTextbox"></textarea>
                </div>
                <button type="button" onclick="encryptMessage(event)">Encrypt</button>
            </form>
        </div>

        <!-- Results container -->
        <div id="encryptedData" class="container" style="display: none;"></div>
    </body>
</html>
