<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='decrypt.js') }}" defer></script>

        <title>Decryption</title>
    </head>
    <body>
        <div class="container-header">
            <button class="buttonHeader" onclick="decryptionPage()">Decryption</button>
            <button class="buttonHeader" onclick="encryptPage()">Encryption</button>
        </div>

        <h1>Decryption</h1>
        <!-- Main container -->
        <div class="container">
            <form action="/run" method="POST" enctype="multipart/form-data" class="input-form">
                <div class="div-header">Key:</div>
                <div class="form-group">
                    <input type="text" id="key" name="key">
                </div>
                <div class="div-header">Encrypted Text:</div>
                <div class="form-group">
                    <input type="text" id="encodedText" name="encodedText" required>
                </div>
                <button type="button" onclick="decryptText(event)">Decrypt</button>
            </form>
        </div>
    
        <!-- Results container -->
        <div id="decryptedData" class="container" style="display: none;"></div>
    </body>
</html>

