<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>Decryption</title>
    </head>
    <body>
        <div class="container-header">
            <button class="buttonHeader" onclick="decryptionPage()">Decryption</button>
            <button class="buttonHeader" onclick="encryptPage()">Encryption</button>
        </div>

        <h1>Decryption</h1>
        <!-- Main container -->
        <div class="container">
            <form action="/run" method="POST" enctype="multipart/form-data" class="input-form">
                <div class="div-header">Key:</div>
                <div class="form-group">
                    <input type="text" id="key" name="key">
                </div>
                <div class="div-header">Encrypted Text:</div>
                <div class="form-group">
                    <input type="text" id="encodedText" name="encodedText" required>
                </div>
                <button type="button" onclick="decryptText(event)">Decrypt</button>
            </form>
        </div>
    
        <!-- Results container -->
        <div id="decryptedData" class="container" style="display: none;"></div>
    </body>
    <script>
        function decryptText() {
            // let encryptedText = document.getElementById('encodedText').value;
            // let key = document.getElementById('key').value;

            // test input
            let encryptedText = 'aGlkZSB0aGUgbWVzc2FnZQo=';
            let key = 'ave99noodle'


            // Inspect input field
            if (!encryptedText) {
                alert ("Please provide encrypted text.");
                return;
            }

            // Create the data object to send
            const data = {
                encryptedText: encryptedText,
                key: key
            };

            // Send a POST request to the '/decryption' route
            fetch('/decryption', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                // Show the decrypted data in the HTML
                let resultContainer = document.getElementById('decryptedData');
                resultContainer.style.display = 'block';
                resultContainer.innerHTML = `
                    <div class="div-header">Inputs:</div>
                    <div class="container-text">
                        <p><strong style="color: #009000;">Key:</strong> ${key}</p>
                        <p><strong style="color: #009000;">Encrypted Text:</strong> ${encryptedText}</p>
                    </div>
                    <div class="div-header">Decrypted Data:</div>
                    <div class="container-text">
                        <p><strong style="color: #009000;">Base64:</strong> ${data.base64}</p>
                        <p><strong style="color: #009000;">Hexadecimal:</strong> ${data.hex}</p>

                    </div>
                `;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        };

        // Button Functions
        function decryptionPage() {
            fetch('/', {
                method: 'GET',
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/';  // Redirect to the AES page
                } else {
                    console.error('Decryption request failed');
                }
            }).catch(err => console.error('Fetch error: ', err)); // Handle any errors
        }
        function encryptPage() {
            fetch('/AES', {
                method: 'GET',
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/AES';  // Redirect to the AES page
                } else {
                    console.error('Encryption request failed');
                }
            }).catch(err => console.error('Fetch error: ', err)); // Handle any errors
        }
    </script>
</html>

